html, body {
    font-family: font-family: 'Nunito', sans-serif;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    margin-left: 10%;
    position: absolute;
}

.welcome {
    color: #f10e57;
    font-size: 54px;
    margin: 0;
}

.icon-container {
    padding-left: 3px;
    font-size: 20px;
}

.icon-container a {
    color: #f10e57;
    padding-right: 8px;
}
