html {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Oxygen', sans-serif;
    background-color: #343434;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
}

html, body,
.mobile, .mobile *,
.loader {
    box-sizing: border-box;
}
.dg .c .selector {
    transform: translate(0, -1px);
}

.mobile {
    display: none;
    position: absolute;
    width: 100%;
    top: 50%;
    padding: 0 30px;

    font-size: 14px;
    color: #fff;

    transform: translate3d(0, -50%, 0);
}

.mobile span {
    color: #ccc;
    text-decoration: underline;
}

.mobile a {
    color: #ccc;
}

html.is-mobile, html.is-mobile {
    font-size: 11px;
}

.credit {
    float: left;
}
